.search-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 80%;
  padding: 1rem;
  .search-heading {
    text-align: center;
  }
  .input-search {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: 0.5rem;
    outline: none;
    border: none;

  &::-webkit-input-placeholder {
      text-align: center;
   }

   &:-moz-placeholder { /* Firefox 18- */
      text-align: center;
   }

   &::-moz-placeholder {  /* Firefox 19+ */
      text-align: center;
   }

   &:-ms-input-placeholder {
      text-align: center;
   }
  }
  .btn--search {
    background: white;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: auto;
    height: auto;
    padding: 0.5rem;
    outline: none;
    border:none;
    border-left: 0.1rem solid black;
    cursor:pointer;
    &:active{
      background: lightblue;
    }
  }
}
