.weather-box {
  border: 0.025rem solid white;
  background: rgba($color: #7e7d7d, $alpha: 0.5);
  width: 90%;
  padding: 0.25rem 1rem;
  display: flex;
  justify-content: space-between;
  .weather-icon {
    align-self: center;
  }
  .weather-icon {
    width: 45%;
    margin: -2rem 0.5rem;
  }
}

@media (min-width: 576px){
  .weather-box{
    max-width: 15rem;
    .weather-icon{

    }
    .weather-icon{
      width: 5rem;

    }
  }
}
