.weather-box {
  border: 0.025rem solid white;
  border-radius: 1rem;
  background: rgba($color: #7e7d7d, $alpha: 0.5);
  width: 90%;
  padding: 0.25rem 1rem;
  display: flex;
  justify-content: space-between;
  margin: 0.1rem;
  .weather-icon {
    align-self: center;
  }
  .weather-icon {
    width: 45%;
    margin: -2rem 0.5rem;
  }
}

@media (min-width: 576px){
  .weather-box{
    max-width: 15rem;
    .weather-icon{

    }
    .weather-icon{
      width: 5rem;
    }
  }
}

@keyframes fadein {
  0% {
    opacity: 0.2;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

  @for $i from 0 through 18 {
    .weather-#{$i} {
      animation: fadein 1s ease-out $i * 0.08s;;
  }
}
